In [1]:
t = [1, 2, 3, 4, 5, 6, 7, 8,9, 10]

In [5]:
for itr in t:
    print(itr)

1
2
3
4
5
6
7
8
9
10

In [9]:
NAME = "RAMESH1"
if  NAME=="RAM":
    print("RAM IS CORRECT ANSWER")
elif NAME=="RAMESH":
    print ("RAMESH IS  Answer")
else:
    print ("Wrong Name")

Wrong Name

In [10]:
t

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [12]:
for itr in t:
    if(itr%2 == 0):
        print (itr)
    else:
        print (f"Odd Number {itr}")

Odd Number 1
2
Odd Number 3
4
Odd Number 5
6
Odd Number 7
8
Odd Number 9
10

In [14]:
list_sum = 0

for itr in t:
    list_sum = list_sum + itr 
    
print (list_sum)

55

In [15]:
myStr = "Hello World"

for itr in myStr:
    print(itr)

H
e
l
l
o

W
o
r
l
d

In [16]:
tup = (1,2,3,4,5)

for itr in tup:
    print (itr)

1
2
3
4
5

In [19]:
mylist = [(1,2),(3,4),(4,6),(7,8)]

for itr in mylist:
    print(itr)

(1, 2)
(3, 4)
(4, 6)
(7, 8)

In [21]:
mylist = [(1,2),(3,4),(4,6),(7,8)]

for a,b in mylist:  #Tuple unpacking can also use (a,b)
    print(a)
    print(b)

1
2
3
4
4
6
7
8

In [25]:
d = {'K1':1, 'K2':2, 'K3':3,'K4':4}

for itr in d.items():
    print(itr)

('K1', 1)
('K2', 2)
('K3', 3)
('K4', 4)

In [27]:
d = {'K1':1, 'K2':2, 'K3':3,'K4':4}

for key,value in d.items():
    print(key, value)

K1 1
K2 2
K3 3
K4 4