In [1]:
myStr = 'hello world'

In [2]:
mylist =[]
for letter in myStr:
    mylist.append(letter)

In [4]:
mylist

['h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']

In [6]:
mylist1 = [letter for letter in myStr]

In [7]:
mylist1

['h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']

In [8]:
mynum = [num**2 for num in range(0,11)]

In [9]:
mynum

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [10]:
mynum = [num **2 for num in range(0,11) if num%2 ==0]

In [11]:
mynum

[0, 4, 16, 36, 64, 100]

In [16]:
celcius =[10, 100, 200, 300]

In [14]:
feh = [((9/5) * t +32 )for t in celcius ]

In [15]:
feh

[50.0, 212.0, 392.0, 572.0]

In [17]:
res = [x if x%2 ==0 else 'ODD' for x in range (0, 11)]

In [18]:
res

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

In [20]:
mylist

['h',
 'e',
 'l',
 'l',
 'o',
 ' ',
 'w',
 'o',
 'r',
 'l',
 'd',
 2,
 20,
 200,
 4,
 40,
 400,
 6,
 60,
 600]

In [27]:
myl = []
for x in [2,4,6]:
    for y in [1, 10 , 100]:
        myl.append(x*y)

In [28]:
myl

[2, 20, 200, 4, 40, 400, 6, 60, 600]

In [29]:
myl = [x*y for x in [1,2,3] for y in [1,10,100]]

In [30]:
myl

[1, 10, 100, 2, 20, 200, 3, 30, 300]

In [31]:
strt = 'this is the list'

In [45]:

for t in strt:
    print(t.split())

['t']
['h']
['i']
['s']
[]
['i']
['s']
[]
['t']
['h']
['e']
[]
['l']
['i']
['s']
['t']

In [38]:
for even in range(0,10):
    if (even%2 ==0 ):
        print(even)

0
2
4
6
8

In [60]:
x= [x for x in range(0,51) if x%3==0]

In [61]:
x

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

In [64]:
ml = [num for num in range(1,101)]

for num in ml:
    if(num%5==0 and num%3==0):
        print('FizzBuzz')
    elif(num%3==0):
        print('Fizz')
    elif(num%5==0):
        print('Buzz')
    else:
        print(num)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

In [51]:
mystr = 'Sameer Print out the statement that start with s in this sentence'

In [52]:
for s in mystr.split():
    print(s)

Sameer
Print
out
the
statement
that
start
with
s
in
this
sentence

In [53]:
for s  in mystr.split():
    if(s[0].lower() == 's'):
        print(s)

Sameer
statement
start
s
sentence

In [54]:
list (range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [55]:
for n in range(0,11,2):
    print(n)

0
2
4
6
8
10

In [63]:
myeven = 'Print every word in the sentence having letter count even'

for ltr in myeven.split():
    if len(ltr) %2 ==0:
        print(ltr + ' is even count !')

word is even count !
in is even count !
sentence is even count !
having is even count !
letter is even count !
even is even count !

In [65]:
str1 = 'Create a list to fetch every letter of first word in sentense'

In [67]:
[word[0] for word in str1.split()]

['C', 'a', 'l', 't', 'f', 'e', 'l', 'o', 'f', 'w', 'i', 's']